/* App fonts */
$appFontPath: "../../assets/fonts/app";

@font-face {
  font-family: HelveticaNeueMedium;
  src: url(#{$appFontPath}/HelveticaNeue_Medium.ttf);
}

@font-face {
  font-family: HelveticaNeueRoman;
  src: url(#{$appFontPath}/HelveticaNeue_Roman.otf);
}

/* Font awsome fonts */
$faFontPath: "../../assets/fonts/font-awesome";
@font-face {
  font-family: fab;
  src: url(#{$faFontPath}/fa-brands.woff2);
}

@font-face {
  font-family: far;
  src: url(#{$faFontPath}/fa-regular.woff2);
}

@font-face {
  font-family: fas;
  src: url(#{$faFontPath}/fa-solid.woff2);
}
