// Breakpoints:
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$large-breakpoint: 1100px;

// Fonts:
$ff-title: HelveticaNeueMedium;
$ff-normal: HelveticaNeueRoman;

// Colors:
// Black
$black: #2b2b2b;
// White
$white: #fbfbfb;
// Grey
$bright-grey: #dddddd;
$dark-grey: #aaaaaa;
$darkest-grey: #777777;
//yellow
$yellow: #ffdd00;
// cyan
$cyan: #00c6bb;
$dark-cyan: #00635d;
